In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 70kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 45.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=85f7a30dc77e9154ed8a5d308064b11f9f8b2282e67bfae035c05532cd796b4a
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ML project').getOrCreate()

In [ ]:
# load data
df = spark.read.csv('/content/sample_data/bank.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [ ]:
k = len(df.columns)
for i in range(k):
  old_name = df.columns[i]
  new_name = 'f' + str(i)
  print(old_name, new_name)
  df = df.withColumnRenamed(old_name, new_name)

age f0
job f1
marital f2
education f3
default f4
balance f5
housing f6
loan f7
contact f8
day f9
month f10
duration f11
campaign f12
pdays f13
previous f14
poutcome f15
deposit f16

In [ ]:
df.show()

+---+-----------+--------+---------+---+----+---+---+-------+---+---+----+---+---+---+-------+---+
| f0|         f1|      f2|       f3| f4|  f5| f6| f7|     f8| f9|f10| f11|f12|f13|f14|    f15|f16|
+---+-----------+--------+---------+---+----+---+---+-------+---+---+----+---+---+---+-------+---+
| 59|     admin.| married|secondary| no|2343|yes| no|unknown|  5|may|1042|  1| -1|  0|unknown|yes|
| 56|     admin.| married|secondary| no|  45| no| no|unknown|  5|may|1467|  1| -1|  0|unknown|yes|
| 41| technician| married|secondary| no|1270|yes| no|unknown|  5|may|1389|  1| -1|  0|unknown|yes|
| 55|   services| married|secondary| no|2476|yes| no|unknown|  5|may| 579|  1| -1|  0|unknown|yes|
| 54|     admin.| married| tertiary| no| 184| no| no|unknown|  5|may| 673|  2| -1|  0|unknown|yes|
| 42| management|  single| tertiary| no|   0|yes|yes|unknown|  5|may| 562|  2| -1|  0|unknown|yes|
| 56| management| married| tertiary| no| 830|yes|yes|unknown|  6|may|1201|  1| -1|  0|unknown|yes|
| 60|    retired|divorced|secondary| no| 545|yes| no|unknown|  6|may|1030|  1| -1|  0|unknown|yes|
| 37| technician| married|secondary| no|   1|yes| no|unknown|  6|may| 608|  1| -1|  0|unknown|yes|
| 28|   services|  single|secondary| no|5090|yes| no|unknown|  6|may|1297|  3| -1|  0|unknown|yes|
| 38|     admin.|  single|secondary| no| 100|yes| no|unknown|  7|may| 786|  1| -1|  0|unknown|yes|
| 30|blue-collar| married|secondary| no| 309|yes| no|unknown|  7|may|1574|  2| -1|  0|unknown|yes|
| 29| management| married| tertiary| no| 199|yes|yes|unknown|  7|may|1689|  4| -1|  0|unknown|yes|
| 46|blue-collar|  single| tertiary| no| 460|yes| no|unknown|  7|may|1102|  2| -1|  0|unknown|yes|
| 31| technician|  single| tertiary| no| 703|yes| no|unknown|  8|may| 943|  2| -1|  0|unknown|yes|
| 35| management|divorced| tertiary| no|3837|yes| no|unknown|  8|may|1084|  1| -1|  0|unknown|yes|
| 32|blue-collar|  single|  primary| no| 611|yes| no|unknown|  8|may| 541|  3| -1|  0|unknown|yes|
| 49|   services| married|secondary| no|  -8|yes| no|unknown|  8|may|1119|  1| -1|  0|unknown|yes|
| 41|     admin.| married|secondary| no|  55|yes| no|unknown|  8|may|1120|  2| -1|  0|unknown|yes|
| 49|     admin.|divorced|secondary| no| 168|yes|yes|unknown|  8|may| 513|  1| -1|  0|unknown|yes|
+---+-----------+--------+---------+---+----+---+---+-------+---+---+----+---+---+---+-------+---+
only showing top 20 rows

In [ ]:
# show data in Dataframe
import pandas as pd
pd.DataFrame(df.take(5), columns = df.columns).transpose()

             0          1           2          3         4
f0          59         56          41         55        54
f1      admin.     admin.  technician   services    admin.
f2     married    married     married    married   married
f3   secondary  secondary   secondary  secondary  tertiary
f4          no         no          no         no        no
f5        2343         45        1270       2476       184
f6         yes         no         yes        yes        no
f7          no         no          no         no        no
f8     unknown    unknown     unknown    unknown   unknown
f9           5          5           5          5         5
f10        may        may         may        may       may
f11       1042       1467        1389        579       673
f12          1          1           1          1         2
f13         -1         -1          -1         -1        -1
f14          0          0           0          0         0
f15    unknown    unknown     unknown    unknown   unknown
f16        yes        yes         yes        yes       yes

In [ ]:
# data grouping by class
class_name = df.columns[len(df.columns)-1]
df.groupby(class_name).count().toPandas()

   f16  count
0   no   5873
1  yes   5289

In [ ]:
# convert string to numeric
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer()
indexer.setInputCol(class_name).setOutputCol('label')
dfl = indexer.fit(df).transform(df)

In [ ]:
dfl.show()

+---+-----------+--------+---------+---+----+---+---+-------+---+---+----+---+---+---+-------+---+-----+
| f0|         f1|      f2|       f3| f4|  f5| f6| f7|     f8| f9|f10| f11|f12|f13|f14|    f15|f16|label|
+---+-----------+--------+---------+---+----+---+---+-------+---+---+----+---+---+---+-------+---+-----+
| 59|     admin.| married|secondary| no|2343|yes| no|unknown|  5|may|1042|  1| -1|  0|unknown|yes|  1.0|
| 56|     admin.| married|secondary| no|  45| no| no|unknown|  5|may|1467|  1| -1|  0|unknown|yes|  1.0|
| 41| technician| married|secondary| no|1270|yes| no|unknown|  5|may|1389|  1| -1|  0|unknown|yes|  1.0|
| 55|   services| married|secondary| no|2476|yes| no|unknown|  5|may| 579|  1| -1|  0|unknown|yes|  1.0|
| 54|     admin.| married| tertiary| no| 184| no| no|unknown|  5|may| 673|  2| -1|  0|unknown|yes|  1.0|
| 42| management|  single| tertiary| no|   0|yes|yes|unknown|  5|may| 562|  2| -1|  0|unknown|yes|  1.0|
| 56| management| married| tertiary| no| 830|yes|yes|unknown|  6|may|1201|  1| -1|  0|unknown|yes|  1.0|
| 60|    retired|divorced|secondary| no| 545|yes| no|unknown|  6|may|1030|  1| -1|  0|unknown|yes|  1.0|
| 37| technician| married|secondary| no|   1|yes| no|unknown|  6|may| 608|  1| -1|  0|unknown|yes|  1.0|
| 28|   services|  single|secondary| no|5090|yes| no|unknown|  6|may|1297|  3| -1|  0|unknown|yes|  1.0|
| 38|     admin.|  single|secondary| no| 100|yes| no|unknown|  7|may| 786|  1| -1|  0|unknown|yes|  1.0|
| 30|blue-collar| married|secondary| no| 309|yes| no|unknown|  7|may|1574|  2| -1|  0|unknown|yes|  1.0|
| 29| management| married| tertiary| no| 199|yes|yes|unknown|  7|may|1689|  4| -1|  0|unknown|yes|  1.0|
| 46|blue-collar|  single| tertiary| no| 460|yes| no|unknown|  7|may|1102|  2| -1|  0|unknown|yes|  1.0|
| 31| technician|  single| tertiary| no| 703|yes| no|unknown|  8|may| 943|  2| -1|  0|unknown|yes|  1.0|
| 35| management|divorced| tertiary| no|3837|yes| no|unknown|  8|may|1084|  1| -1|  0|unknown|yes|  1.0|
| 32|blue-collar|  single|  primary| no| 611|yes| no|unknown|  8|may| 541|  3| -1|  0|unknown|yes|  1.0|
| 49|   services| married|secondary| no|  -8|yes| no|unknown|  8|may|1119|  1| -1|  0|unknown|yes|  1.0|
| 41|     admin.| married|secondary| no|  55|yes| no|unknown|  8|may|1120|  2| -1|  0|unknown|yes|  1.0|
| 49|     admin.|divorced|secondary| no| 168|yes|yes|unknown|  8|may| 513|  1| -1|  0|unknown|yes|  1.0|
+---+-----------+--------+---------+---+----+---+---+-------+---+---+----+---+---+---+-------+---+-----+
only showing top 20 rows

In [ ]:
# split the data
(training_data, test_data) = dfl.randomSplit([0.8, 0.2])

In [ ]:
training_data.toPandas()

      f0       f1        f2         f3  f4  ...  f13 f14      f15  f16  label
0     18  student    single    primary  no  ...   -1   0  unknown  yes    1.0
1     18  student    single    primary  no  ...   93   1  success  yes    1.0
2     18  student    single  secondary  no  ...   -1   0  unknown   no    0.0
3     18  student    single    unknown  no  ...   -1   0  unknown  yes    1.0
4     18  student    single    unknown  no  ...  183   1  success  yes    1.0
...   ..      ...       ...        ...  ..  ...  ...  ..      ...  ...    ...
8953  90  retired  divorced  secondary  no  ...   -1   0  unknown  yes    1.0
8954  92  retired   married    unknown  no  ...   -1   0  unknown  yes    1.0
8955  92  retired   married    unknown  no  ...   96   3  success  yes    1.0
8956  93  retired   married    unknown  no  ...  177   7  success  yes    1.0
8957  95  retired  divorced    primary  no  ...   -1   0  unknown  yes    1.0

[8958 rows x 18 columns]

In [ ]:
# features and class
class_name = 'label'
feature_names = df.columns[:-1]
print(class_name)
print(feature_names)

label
['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15']

In [ ]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler()
assembler.setInputCols(feature_names).setOutputCol('features')
transformed_data = assembler.transform(dfl)

IllegalArgumentException: ignored

In [ ]:
transformed_data.show()

+---+---+---+---+-----------+-----+-----------------+
| f0| f1| f2| f3|         f4|label|         features|
+---+---+---+---+-----------+-----+-----------------+
|4.9|3.0|1.4|0.2|Iris-setosa|  2.0|[4.9,3.0,1.4,0.2]|
|4.7|3.2|1.3|0.2|Iris-setosa|  2.0|[4.7,3.2,1.3,0.2]|
|4.6|3.1|1.5|0.2|Iris-setosa|  2.0|[4.6,3.1,1.5,0.2]|
|5.0|3.6|1.4|0.2|Iris-setosa|  2.0|[5.0,3.6,1.4,0.2]|
|5.4|3.9|1.7|0.4|Iris-setosa|  2.0|[5.4,3.9,1.7,0.4]|
|4.6|3.4|1.4|0.3|Iris-setosa|  2.0|[4.6,3.4,1.4,0.3]|
|5.0|3.4|1.5|0.2|Iris-setosa|  2.0|[5.0,3.4,1.5,0.2]|
|4.4|2.9|1.4|0.2|Iris-setosa|  2.0|[4.4,2.9,1.4,0.2]|
|4.9|3.1|1.5|0.1|Iris-setosa|  2.0|[4.9,3.1,1.5,0.1]|
|5.4|3.7|1.5|0.2|Iris-setosa|  2.0|[5.4,3.7,1.5,0.2]|
|4.8|3.4|1.6|0.2|Iris-setosa|  2.0|[4.8,3.4,1.6,0.2]|
|4.8|3.0|1.4|0.1|Iris-setosa|  2.0|[4.8,3.0,1.4,0.1]|
|4.3|3.0|1.1|0.1|Iris-setosa|  2.0|[4.3,3.0,1.1,0.1]|
|5.8|4.0|1.2|0.2|Iris-setosa|  2.0|[5.8,4.0,1.2,0.2]|
|5.7|4.4|1.5|0.4|Iris-setosa|  2.0|[5.7,4.4,1.5,0.4]|
|5.4|3.9|1.3|0.4|Iris-setosa|  2.0|[5.4,3.9,1.3,0.4]|
|5.1|3.5|1.4|0.3|Iris-setosa|  2.0|[5.1,3.5,1.4,0.3]|
|5.7|3.8|1.7|0.3|Iris-setosa|  2.0|[5.7,3.8,1.7,0.3]|
|5.1|3.8|1.5|0.3|Iris-setosa|  2.0|[5.1,3.8,1.5,0.3]|
|5.4|3.4|1.7|0.2|Iris-setosa|  2.0|[5.4,3.4,1.7,0.2]|
+---+---+---+---+-----------+-----+-----------------+
only showing top 20 rows

In [ ]:
# Split the data
(training_data, test_data) = transformed_data.randomSplit([0.8,0.2])

In [ ]:
from pyspark.ml.classification import LogisticRegression
model = LogisticRegression(featuresCol = 'features',labelCol=class_name, maxIter=30)

In [ ]:
M = model.fit(training_data)

In [ ]:
# Predict with the test dataset
predictions = M.transform(test_data)

In [ ]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

multi_evaluator = MulticlassClassificationEvaluator(labelCol = 'label', metricName = 'accuracy')
print('Logistic Regression Accuracy:', multi_evaluator.evaluate(predictions))

Logistic Regression Accuracy: 0.9642857142857143